.App {
	height: 750px;
	overflow-y: auto;
}

.App > h1 {
	color: #FFF;
	font-size: 3rem;
	margin: 0 auto;
	max-width: 550px;
	text-align: center;
	text-shadow: 1px 1px var(--black);
}
.App .source {
	background-color: #FFF;
	bottom: 0;
	color: var(--grey02);
	padding: 5px 0;
	position: fixed;
	width: 100%;
}

